body {
  background-color: #e3e3e3;
}
.nav {
  justify-content: center;
  margin: 10px auto;
  .nav-item {
    a {
      color: #8e1003;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
.stream-contain {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1500px;
  .row .stream {
    flex-grow: 2;
  }
}
