body {
  background-color: #76ffb3;
}
.nav {
  justify-content: center;
  margin: 10px auto;
  .nav-item {
    a {
      color: #fdff78;
      &:hover {
        color: #ff6ffb;
      }
    }
  }
}
.stream-contain {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1500px;
  .row .stream {
    flex-grow: 2;
  }
}
